.App {
  font-family: sans-serif;
  text-align: center;
}

.screen {
  width: 230px;
  height: 50px;
  font-size: 40px;
  margin-bottom: 50px;
  padding: 0;
  text-align: right;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: auto;
}

.option-buttons-grid {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, 50px);
  grid-column-start: 1;
  grid-column-end: 4;
}

.option-buttons-grid button {
  background: orange;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  border: none;
}

.numbers-grid {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, 50px);
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}

.numbers-grid button {
  background: #adadad;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  border: none;
}

.operators-grid {
  display: grid;
  grid-template-columns: 50px;
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, 50px);
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}

.operators-grid button {
  background: black;
  color: white;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  border: none;
}
